<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">
      <!--<img border="0" src="{{ relative_url }}/img/logo-carla-w-s.png" width="70" height="70">-->
      Learn-to-Race
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/sim" | relative_url }}">Simulator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://learn-to-race.org/challenge">Workshop
              <svg width="12px" height="12px" viewBox="0 0 24 24" style="cursor:pointer"><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.aicrowd.com/challenges/learn-to-race-autonomous-racing-virtual-challenge">Challenge
              <svg width="12px" height="12px" viewBox="0 0 24 24" style="cursor:pointer"><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://learn-to-race.readthedocs.io">Documentation
              <svg width="12px" height="12px" viewBox="0 0 24 24" style="cursor:pointer"><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://github.com/learn-to-race/l2r">Code
              <svg width="12px" height="12px" viewBox="0 0 24 24" style="cursor:pointer"><g stroke-width="2.1" stroke="#666" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="17 13.5 17 19.5 5 19.5 5 7.5 11 7.5"></polyline><path d="M14,4.5 L20,4.5 L20,10.5 M20,4.5 L11,13.5"></path></g></svg>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/about" | relative_url }}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/contact" | relative_url }}">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
